@font-face {
    font-family: Snell_Roundhand;
    src: url(fonts/Snell_Roundhand.ttf);
}
.gallery {
    text-align: center;
    font-family: Snell_Roundhand, cursive;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.conteiner {
    width: 960px;
    margin: 0 auto;
}
.box {
    white-space: nowrap;
}

.divImgDisc {
    float: left;
    width: 138px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    background-color: ivory;
    text-align: center;
    position: relative;
}

.discription {
    position: absolute;
    top: 90%;
    left: 50%;
    height: 20%;
    width: 100%;
    margin: -15% 0 0 -50%;
    overflow: unset;
}

.item {
    max-width: 95%;
    max-height: 145px;
    border: 2px solid rgb(131, 131, 131);
    border-radius: 5px;
}
hr{
    background: url(images/line.png) no-repeat top center;
    background-size: contain;
    height: 60px;
    border: none;
    margin: 0 auto;
}

.divImg {
    width: 100%;
    height: 150px;
}
figure {
    margin: 0 auto;
    
}
.p-img {
    margin: 0 auto;
}

figcaption {
    white-space: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}