@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    width: 1600px;
    background-image: url(assets/images/bg-image.png);
    background-position-x: center;
    background-repeat: no-repeat;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    padding: 2px 12px 0 0;
}

.logo-wrapper {
    margin: 0 60px;
}

p,
h2,
h3 {
    font-family: 'Roboto';
}

h2,
h3 {
    text-transform: uppercase;
}

.p-header {
    font-size: 14px;
    opacity: 80%;
    color: white;
    margin: 0 40px;
}

.p-header:hover {
    opacity: 100%;
    border-bottom: 1px white groove;
}

.p-main {
    color: white;
    font-weight: 700;
    font-size: 63px;
    margin-top: 131px;
    margin-bottom: 22px;
    text-transform: uppercase; 
    letter-spacing: 5px;
    text-align: center;
}

.p-main-inf {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 29px;
    line-height: 1.4em;
    opacity: 0.85;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-main {
    width: 184px;
    height: 46px;
    margin: 0 auto;
    background-color: #00AFDB;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.btn-main:hover {
    background-color: #009CC2;
}

.socials-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 182px;
    margin-bottom: 70px;
}

.img-socials {
    margin: 0 15px;
}

article {
    padding: 20px;
    display: flex;
}

.article-first-content-block {
    margin: 275px 100px 0 249px;
}

.article-first-content-block-h2 {
    letter-spacing: 1px;
}

.article-first-content-block-p {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 26px;
}

.article-first-img-wrapper {
    margin: 121px 0 140px 152px;
}

.article-second {
    background-color: #F5F6F7;
    padding-right: 0;
}

.article-second-content-block {
    width: 298px;
    text-align: center;
    margin: 112px 0px 50px 250px;
}

.slider {
    margin: 38px 0 140px 125px;
}

.slider-content{
    display: flex;
}

.slider-content-img-wrapper {
    margin: 15px;
}

.slider-content-img-wrapper-last {
    margin: 15px 0 15px 15px;
}

.article-second-content-block-h3 {
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.article-second-content-block-p {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 10px;
}

.slider-nav {
    display: flex;
    align-items: center;
    margin-left: 544px;
}

.arrow {
    margin: 0 13px;
}

.arrow:hover {
    opacity: 0.5;
}

.nav-p {
    margin: 0;
    font-size: 18px;
}

.article-third-content-block {
    margin: 240px 0 0 139px;
    width: 407px;
}

.article-third-content-block-p {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 26px;
}

.article-third-img-wrapper {
    margin: 62px 0 116px 249px;
}

.article-third-content-block-h2 {
    letter-spacing: 1px;
}

.article-third-btn {
    width: 180px;
    height: 46px;
    margin: 0 auto;
    background-color: #00AFDB;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.article-third-btn:hover {
    background-color: #009CC2;
}

.article-fourth {
    background-image: url(assets/images/Frame7.png);
}

.article-fourth-input-block {
    margin: 159px auto 200px auto;
}

.article-fourth-input-block-h2 {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.mail-imput {
    border: none;
    padding: 15px;
    padding-left: 22px;
    width: 307px;
    font-size: 14px;
    margin-right: -4px;
}

.input-wrapper {
    display: flex;
}

.input-submit-btn {
    background-color: #00AFDB;
    border: none;
    width: 66px;
    height: 46px;
}

.input-submit-btn:hover {
    background-color: #009CC2;
}

.input-submit-btn-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-fifth-content-block {
    margin: 79px auto 144px auto;
    width: 480px;
    text-align: center;
}

.article-fifth-content-block-h2 {
    letter-spacing: 1px;
}

.article-fifth-content-block-p {
    font-size: 14px;
    line-height: 1.5em;
}

.article-fifth-btn {
    width: 125px;
    height: 46px;
    margin: 0 auto;
    background-color: #00AFDB;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.article-fifth-btn:hover {
    background-color: #009CC2;
}

.btn-img {
    width: 60px;
    height: 46px;
    background-color: #009CC2;
    position: relative;
}

.article-fifth-btn-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.article-fifth-btns-wrapper {
    display: flex;
    justify-content: center;
}

.btn-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}

footer {
    background-color: black;
    height: 185px;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.nav-footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 325px;
    padding-right: 20px;
}

.nav-divider-wrapper {
    position: relative;
}

.nav-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.nav-footer-p {
    font-size: 14px;
    margin:0 20px;
}

.footer-p-autor {
    color: white;
    opacity: 0.5;
    font-size: 14px;
    margin-left: 450px;
}

.logo-wrapper-footer {
    margin: 0 18px;
}





